.friends {
    width: 100px;
    align-items: center;
    padding: 4px 8px;
    padding-left: 8px;
    border-radius: 8px;
    margin-left: 500px;
    background-color: var(--friends-bg-color);
    height: min-content;
}

ul {
    padding-left: 25px;
}

.user-avatar {
    border: 2px solid var(--user-avatar-border-color);
    padding: 10px;
    border-radius: 5px;
    background-color: var(--user-avatar-bg-color);
}

.account-info {
    display: flex;
    margin-bottom: 100px;
}

.account-description {
    margin-left: 20px;
}

.account-description a {
    color: var(--acount-description-a-color);
    text-decoration: none;
    font-size: 14px;
}

.account-description a:hover {
    color: var(--acount-description-a-hover-color);
    text-decoration: underline;
}

@media (max-width:1024px) {

    header a:nth-child(7),
    header a:nth-child(3),
    header a:nth-child(4),
    header a:nth-child(5),
    header a:nth-child(6) {
        display: none;
    }

    figure {
        margin: 10px 5px;
        font-size: 10px;
        max-width: fit-content;
    }

    .container {
        margin: 150px auto;
        margin-bottom: 200px;
        max-width: 1100px;
        padding: 20px;
    }

    figure img {
        width: auto;
        max-height: 120px;
        user-select: none;
    }

    .logo {
        margin-left: 20px;

    }
    #search-form input { 
        margin-left: 20px;
        max-width: 70px;
    }
    .theme-switcher{
        margin: 0px 20px;
    }
    header a{
        padding:0px 20px;
    }
    .account-info{
        display: flex;
        flex-wrap: wrap;
    }

    .user-avatar {
        height: 100px;
        width:auto;
    }
    .friends {
        width: 100px;
        margin-top: 30px;
        margin-left: 20px;
        height: min-content;
    }
}