@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Madimi+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
    background-color: #fff4c8;
    color: #262526;
    font-size: 16px;
    font-family: "Libre Franklin", "Rubik", sans-serif;
    font-weight: normal;
    font-style: normal;
    flex-flow: column;


}

.container {
    background-color: #fdf0ad;
    margin: 150px auto;
    margin-bottom: 200px;
    border-radius: 1px;
    max-width: 1100px;
    padding: 30px 40px;
    box-shadow: 0px 1px 3px 0px #946a004d;
}

header {
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
    background-color: #ffed95;
    display: flex;
    box-shadow: 0 3px 12px 0 #8077004d;
    border-radius: 5px;
    padding: 0px 4px;
    z-index: 2;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;

}

header a {
    height: 50px;
    color: #894719;
    text-decoration: none;
    font-size: 19px;
    padding: 0px 25px;
    align-content: center;

}

header a:not(:first-child):hover {
    color: #f4ebd3;
    background-color: #c37945;
    transition: background-color .4s;

}

header a:active {
    color: #b10000;
}

.search-field {
    margin: 6px;
    border-color: #aa6533;
    border-radius: 2px;
    border-width: 0px;
    height: 27px;
    background-color: #f9f1cc;
    display: flex;
    font-family: inherit;
    font-size: 15px;
    line-height: 2em;
    margin-left: 170px;
    outline: none;
}

.header-gap {
    width: 150px;
    height: 30px;
    margin-right: 20px;
}
@media (max-width:700px) {

    header a:nth-child(7),
    header a:nth-child(3),
    header a:nth-child(4),
    header a:nth-child(5),
    header a:nth-child(6) {
        display: none;
    }

}

.logo {
    padding: 0px;
    margin-right: 20px;
    max-width: 40px;
    max-height: 50px;
    margin-left: 70px;
}


.theme-switcher input {
    width: 0;
    height: 0;
    display: none;
    visibility: hidden;
}

.theme-switcher input:checked+label>span {
    left: calc(100% - 23px);
    background-color: #198bef;
}

.theme-switcher {
    margin-right: 50px;
    margin-left: 40px;
    align-content: center;
}

.theme-switcher label {
    position: relative;
    cursor: pointer;
    display: block;
    text-indent: 35px;
    height: 26px;
    width: 60px;
    border-radius: 50px;
    background-color: #f9f1cc;
    transition: background-color .5s;
    border: 2px solid transparent;
    overflow: hidden;
    color: transparent;
    user-select: none;
}

.theme-switcher label>span {
    position: absolute;
    z-index: 2;
    content: "";
    width: 17px;
    height: 17px;
    border-radius: 50px;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: #8f5327;
    transition: .5s;
}

.theme-switcher label:before {
    left: 7px;
    background-image: url();
}

.theme-switcher label:after,
.theme-switcher label:before {
    content: "";
    display: block;
    top: 50%;
    margin-top: -7px;
    height: 15px;
    width: 15px;
    position: absolute;
    transition: .5s;
    transform: scale(.9);
}

.theme-switcher input:not(:checked)+label:after {
    transform: rotate(0) scale(1.2);
}

.theme-switcher label:after {
    right: 7px;
}

.theme-switcher label:after,
.theme-switcher label:before {
    content: "";
    display: block;
    top: 50%;
    margin-top: -7px;
    height: 15px;
    width: 15px;
    position: absolute;
    transition: .5s;
    transform: scale(.9);
}

.friends{
    width: 100px;
    align-items: center;
    padding:  4px 8px;
    padding-left: 8px;
    border-radius: 8px;
    margin-left: 500px;
    background-color: #f9f1cc;
    height: min-content;
}
ul{
    padding-left: 25px;
}



.justfield {
    height: 500px;
}

figure {
    display: flex;
    flex-flow: column;
    padding: 0px;
    width: min-content;
    margin: 20px 15px;
    background-color: #ffe291;
    transition: background-color .5s;
    border-radius: 1px;
    box-shadow: 0 1px 10px 0 #0000004d;
}

figure:hover {
    background-color: #c37945;
    color: #f4ebd3;
    transition: background-color .5s;
}

figure img {
    width: auto;
    height: 220px;
    border-bottom: 5px solid #aa6533;
    user-select: none;
}

figure a {
    width: auto;
    height: auto;
}

figcaption {
    padding: 0px 8px;
    padding-bottom: 3px;
    text-align: center;
    background-clip: content-box;
}


.content-type {
    margin-bottom: 30px;
    display: flex;
}

.content-type p {
    font-family: inherit;
    font-size: 16px;
    margin: 30px 20px;
    padding: 10px;
    border-radius: 2px;
    background-color: #ffe291;
    border-top: 5px solid #aa6533;
}

.user-avatar {
    border: 2px solid #c48d45;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff6c7;
}


.watchPage-head {
    display: flex;
    margin-bottom: 50px;
    margin-top: 20px;
}

.watchPage-head-table {
    max-width: 780px;
    text-wrap: wrap;
    font-size: 14px;
    background-color: #fee49b;
    border-collapse: collapse;
}

.watchPage-head-table td {
    padding: 12px 10px;
    border-bottom: 1px solid #ac8135;
}

.watchPage-head-text {
    margin-left: 40px;
}

.watchPage-head-table td:nth-child(1) {
    text-wrap: nowrap;
}

.watchPage-head-table a {
    color: #894719;
    text-decoration: none;
}

.watchPage-head-table a:hover {
    color: darkred;
    text-decoration: underline;
}

.watchPage-poster>img {
    border: 2px solid #c48d45;
    border-radius: 3px;
}

.watchPage-poster {
    margin-bottom: 0px;
}

.watch-page-description {
    margin: 0px 30px;
    margin-bottom: 40px;
    text-align: justify;
    word-spacing: 0.3em;
}

.watch-page-description p {
    color: #494949;
}

footer {
    text-align: center;
}

footer img {
    padding: 7px 40px;
    background-color: #ffd093;
    transition: .5s;
    word-spacing: 60px;
}

footer img:hover {
    background-color: #c37945;
    transition: .5s;
}




.account-info {
    display: flex;
    margin-bottom: 100px;
}

.account-description {
    margin-left: 20px;
}

.account-description a {
    color: #894719;
    text-decoration: none;
    font-size: 14px;
}

.account-description a:hover {
    color: darkred;
    text-decoration: underline;
}

fieldset {
    width: max-content;
    height: max-content;
}

video {
    margin-left: 130px;
    margin-bottom: 20px;
    width: 800px;
    border-radius: 4px;
    z-index: 1;
}

.playlist {
    margin-left: 145px;
    margin-bottom: 100px;
    width: 800px;
    display: flex;
    flex-wrap: wrap;

}

button {
    margin: 1.5px;
    width: 80px;
    height: 30px;
    background-color: #ffd78e;
    border-color: #97480f;
    border-style: solid;
    border-width: 0.5px;
    border-radius: 1px;

}

button:hover {
    background-color: #aa6533;
    border-color: #8f3900;
    color: #f9f1cc;
    transition: background-color .2s;
    cursor: pointer;
}

button:active {
    background-color: #c5885c;
    transition: 0s;
}

.playlist-seasons {
    margin-left: 145px;
    margin-bottom: 10px;
}

.playlist-seasons button {
    margin: 0.1px;
    border-radius: 0px;

}

.comment-form {
    width: 900px;
    margin-left: 70px;
    padding: 20px;
    background-color: #ffed95;
}

.comment-form h3 {
    margin-top: 0px;
    margin-bottom: 40px;
}

form {
    display: block;
}

.row {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
}

.row input:first-child {
    margin-right: 30px;
}

.row input:last-child {
    margin-right: 0px;
}

form input:nth-child(-n+2) {
    background-color: transparent;
    outline: transparent;
    border: 0px solid #aa6533;
    border-bottom-width: 1px;
    width: 100%;
    padding: 7px 0px;
    padding-left: 3px;
    font-family: inherit;
    font-size: 14px;
}

form>input:nth-child(2) {
    margin-bottom: 20px;
}

form>input:last-child {
    border: none;
    padding: 9px 13px;
    font-size: 14px;
    font-family: inherit;
    background-color: #aa6533;
    color: white;
}

form>input:last-child:hover {
    background-color: #884e24;
    cursor: pointer;
}