.watchPage-head {
    display: flex;
    margin-bottom: 50px;
    margin-top: 20px;
}

.watchPage-head-table {
    max-width: 780px;
    text-wrap: wrap;
    font-size: 14px;
    background-color: var(--watchPage-head-table-bg-color);
    border-collapse: collapse;
}

.watchPage-head-table td {
    padding: 12px 10px;
    border-bottom: 1px solid var(--watchPage-head-table-td-border-color);
}

.watchPage-head-text {
    margin-left: 40px;
}

.watchPage-head-table td:nth-child(1) {
    text-wrap: nowrap;
}

.watchPage-head-table a {
    color: var(--watchPage-head-table-a-color);
    text-decoration: none;
}

.watchPage-head-table a:hover {
    color: var(--watchPage-head-table-a-hover-color);
    text-decoration: underline;
}


.watchPage-poster>img {
    border: 2px solid var(--watchPage-poster-img-border-color);
    border-radius: 3px;
}

.watchPage-poster {
    margin-bottom: 0px;
}

.watch-page-description {
    margin: 0px 30px;
    margin-bottom: 40px;
    text-align: justify;
    word-spacing: 0.3em;
}

.watch-page-description p {
    color: var(--watch-page-description-p-color);
}

/*watchPage rating below poster*/
footer {
    text-align: center;
}

footer img {
    padding: 7px 40px;
    background-color: var(--footer-img-bg-color);
    transition: .5s;
    word-spacing: 60px;
}

footer img:hover {
    background-color: var(--footer-img-hover-bg-color);
    transition: .5s;
}
video {
    margin-left: 130px;
    margin-bottom: 20px;
    width: 800px;
    border-radius: 4px;
    z-index: 1;
}

.playlist {
    margin-left: 145px;
    margin-bottom: 100px;
    width: 800px;
    display: flex;
    flex-wrap: wrap;

}
button {
    margin: 1.5px;
    width: 80px;
    height: 30px;
    background-color: var(--button-bg-color);
    border-color: var(--button-border-color);
    border-style: solid;
    border-width: 0.5px;
    border-radius: 1px;
    color:var(--button-color);

}

button:hover {
    background-color:var(--button-hover-bg-color);
    border-color: var(--button-hover-border-color);
    color: var(--button-hover-color);
    transition: background-color .2s;
    cursor: pointer;
}

button:active {
    background-color: var(--button-active-bg-color);
    transition: 0s;
}

.playlist-seasons {
    margin-left: 145px;
    margin-bottom: 10px;
}

.playlist-seasons button {
    margin: 0.1px;
    border-radius: 0px;

}

.comment-form {
    width: 900px;
    margin-left: 70px;
    padding: 20px;
    background-color: var(--comment-form-bg-color);
}

.comment-form h3 {
    margin-top: 0px;
    margin-bottom: 40px;
}

form {
    display: block;
}

.row {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
}

.row input:first-child {
    margin-right: 30px;
}

.row input:last-child {
    margin-right: 0px;
}

form input:nth-child(-n+2) {
    background-color: transparent;
    outline: transparent;
    border: 0px solid var(--form-input-border-color);
    border-bottom-width: 1px;
    width: 100%;
    padding: 7px 0px;
    padding-left: 3px;
    font-family: inherit;
    font-size: 14px;
}
form input:nth-child(-n+2)::placeholder{
    color:var(--comment-input-text-color);

}

form>input:nth-child(2) {
    margin-bottom: 20px;
}

/*add commentary button*/
form>input:last-child {
    border: none;
    padding: 9px 13px;
    font-size: 14px;
    font-family: inherit;
    background-color: var(--form-add-commentary-btn-bg-color);
    color: var(--form-add-commentary-btn-text-color);
}

form>input:last-child:hover {
    background-color: var(--form-add-commentary-btn-hover-bg-color);
    cursor: pointer;
}